<!--<ion-content>
<div id="container">
<div id="container2">

<h1>Here To Get<br>Welcomed !</h1>
<div id="holder">

<ion-item>
  <ion-label>Email</ion-label>
  <ion-input></ion-input>
</ion-item>
<br>
<ion-item>
  <ion-label position="floating">Password</ion-label>
  <ion-input></ion-input>
</ion-item>
<br>
<div id="small-holder">
<h3>Sign In</h3>

<ion-fab-button color="primary" routerLink="/home" item-end>
<ion-icon name="arrow-forward"></ion-icon>
</ion-fab-button>

</div>

<div id="small-holder2">
  
  <span style="float:left;  color: rgb(51, 61, 149);  ">
    Sign Up</span>
    <span style="float:right;  color: rgb(51, 61, 149); ">
      Forgot Password</span>
  
  </div>

</div>

</div>
</div>

</ion-content>-->

<ion-content id="mydesign">
  <div id="container">
    <div id="inner-container">
      <div id="welcome">
        <h1>Here To Get<br>Welcomed !</h1>
      </div>

      <div id="input-fields">
        <div id="input-one">
          <ion-item>
            <ion-label  position="floating">Email</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </div>
        <div id="input-two">
          <ion-item>
            <ion-label  position="floating">Password</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </div>
      </div>

      <div id="signIn-fields">
        <div id="signIn">
          <h3>Sign In</h3>
        </div>
        <div id="circle-button">
          <ion-fab-button color="primary" routerLink="/home" item-end>
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-fab-button>
        </div>
      </div>

      <div id="span-fields">
        <div id="signUp">
          <span>
            Sign Up
          </span>
        </div>

        <div id="forgot-pass">
          <span>
            Forgot Password
          </span>
        </div>
      </div>

    </div>
  </div>
</ion-content>