

 

  
span {
  padding-bottom: 1px;
  border-bottom: 1px solid rgb(51,61, 149);
  line-height: 15px;
  padding-right: 10px;
 
}



ion-button{
  margin-right: 10%;
  padding-bottom: 1px;
  }
.edits{
  padding-left: 0% ;
}


  .container{

   position: absolute;
  
   left: 0;
   right: 0;
   top: 45%;
   transform: translateY(-50%);
  }