<ion-content  >



<div class="container">
<br><br>
  <ion-row>
    <ion-col>
    <h1 style="padding-left: 5%; color: rgb(51, 61, 149);  font-family: 'Nunito', sans-serif; "><strong> <p>Here To Get<br>Welcomed !</p></strong></h1>
  </ion-col>
</ion-row>
    <br>
    <ion-row>
      <ion-col>
    <ion-item style="margin-left: 2%; margin-right: 5%;  color: rgb(51, 61, 149);">
        <ion-label style="text-align: left;" position="floating">Email</ion-label>
        <ion-input ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
      <ion-item style="margin-left: 2%; margin-right: 5%;  color: rgb(51, 61, 149);">
        <ion-label class="edits"  position="floating">Password</ion-label>
        <ion-input ></ion-input>
      </ion-item>
    </ion-col>
    </ion-row>
      <br>

      <ion-row>
        <ion-col>
<h5 style="padding-left: 10%; color: rgb(51, 61, 149);  font-family: 'Nunito', sans-serif;"><strong>Sign In </strong></h5>
        </ion-col>
        <ion-col>
  <ion-fab-button style="float:right; margin-right: 10%;"  routerLink="/home">
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-fab-button>
</ion-col>
</ion-row>


  


<br><br><br><br>

<ion-row>
<ion-col class="col">
 <span style="float:left; margin-left: 10%; color: rgb(51, 61, 149); font-family: 'Nunito', sans-serif; ">
  Sign Up</span>
  </ion-col>
<ion-col  class="col2">
  <span style="float:left; margin-right: 5%; color: rgb(51, 61, 149); font-family: 'Nunito', sans-serif; ">Forgot Password</span>
</ion-col>
</ion-row>



</div>
</ion-content>