

 

  
span {
  padding-bottom: 1px;
  border-bottom: 1px solid rgb(51,61, 149);
  line-height: 15px;
  padding-right: 10px;
 
}



ion-button{
  margin-right: 10%;
  padding-bottom: 1px;
  }
.edits{
  padding-left: 0% ;
}


ion-content{
position: relative;
.child{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  margin: -25px;
}

}

  