ion-content{
   font-family: 'Nunito', sans-serif;
 
}
#container{
  height: 100%;
  width: 100%;
  display:flex;
  background: url(../../assets/Image/ourBg2.png) 0 0/100% 100% no-repeat;
  align-items: center;
  justify-content: center;

}
#inner-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 90%;
  width: 80%;
  
 
}
#text{
  display: flex; 
  text-align: center;
  color: white;
 
}
#button{
  display: flex;
  margin-top: 10px;
  margin-left: 25px;
  width: 40px;
  text-align: center;
 
}

